CONFIG_TARGET_amlogic=y
CONFIG_TARGET_amlogic_s905x=y
CONFIG_TARGET_amlogic_s905x_DEVICE_generic=y
CONFIG_TARGET_ROOTFS_PARTSIZE=2048
CONFIG_TTYD=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_tinyfm=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-usb-net-cdc_ether=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_KERNEL_PRINTK=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_REMOVE_WIFI=y
